@mixin timetable($color) {
    border-left: solid 10px $color;

    .description {
        
        color: $color;
    }
    .subheader {
        color: $color;
    }
}

.timeline.success {
    border-left: solid 10px #00695c;

    .description {
        
        color: #00695c;
    }
    .subheader {
        color: #00695c;
    }
}

.timeline.inwork {
    border-left: solid 10px #0d47a1;
    
    .description {
        padding-left: 1rem;
        color: #0d47a1;
    }
    .subheader {
        color: #0d47a1;
    }
}

.timeline.error {
    border-left: solid 10px #CC0000;

    .description {
        padding-left: 1rem;
        color: #CC0000;
    }
    .subheader {
        color: #CC0000;
    }
}

.timeline.pause {
    border-left: solid 10px #9933CC;

    .description {
        padding-left: 1rem;
        color: #9933CC;
    }
    .subheader {
        padding-bottom: 1rem;
        color: #9933CC;
    }
}